body {
    background-color: white;
}

.col-md-3 {
    height:400px;
    width: 400px;
}

.description {
    background-color: lightsalmon;
    border: 20px solid white;
    height: 300px;
    width: 300px;
    text-align: center;
    
    padding: 100px 0;
}

#scout, #max, #weewee {
    background-color: lightgoldenrodyellow;
    height: 300px;
    width: 300px;
    padding: 20px
}


#dfj, #kf, #amalia {
    background-color:antiquewhite;
    width: 300px;
    height: 300px;
    padding: 20px
}

.info {
    background-color: white;
}

button {
    background-color: goldenrod;
    margin-left: 20px;
    margin-top: 10px
}

button:active {
    background-color: lightsalmon;
    margin-left: 20px;
    margin-top: 10px
}

p {
    margin-left: 20px;
}
