h1, h3 {
    text-align: center;
    margin-top: 10px;
    color: sandybrown;
}
.description {
    background-color: sandybrown;
    border: 20px solid blanchedalmond;
    height: 300px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 100px 0;
}

#scout, #max, #weewee, #dfj, #kf, #amalia {
    background-color: blanchedalmond;
    height: 300px;
    width: 300px;
    padding: 20px
}

.info {
    width: 300px;
    background-color: blanchedalmond;
    margin-bottom:20px;
}

button {
    background-color: gold;
    border: 0.5px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
}

button:active {
    background-color: sandybrown;
    margin-left: 20px;
    margin-bottom: 20px;
}

.lovesCount {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
